server:
  port: 5555

eureka:
  client:
    register-with-eureka: true 
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
     
    
zuul:
  routes:
    pagamentos:
      path: /pagamentos/**
    distancia:
      path: /distancia/**
      stripPrefix: true
    monolito:
      path: /monolito/**
    legacy:
      path: /monolito/**